{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'js/simplePagination.js/simplePagination.css' %}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/simplePagination.js/jquery.simplePagination.js' %}"></script>
        <script src="{% static 'scripts/scripts.js' %}"></script>
        <title>{{ page_title }}</title>
    </head>

    <body onload="makeTableOnLoad()">

        <div class="table-section">
            <input type="hidden" id="numRows" value="-1">
            <div class="table-heading">{{ page_title }}</div>
            <label for="maxRows">Number of rows</label>
            <select id="maxRows" >
                 <option value="5">5</option>
                 <option value="10" selected="selected">10</option>
                 <option value="15">15</option>
                 <option value="20">20</option>
                 <option value="50">50</option>
                 <option value="70">70</option>
                 <option value="100">100</option>
                 <option value="5000">All Rows</option>
            </select>
            <div id="pagination"></div>
            <table id="gen_tbl" class="var-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>

        </div>
    </body>

</html>