{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{ page_title }} </title>
</head>
<body>
    <section class="detail-info">
        <h1> {{ page_title }} </h1>
        <label class="detail-info-label">Taxonomy ID : </label><label class="detail-info-label">{{ product_details.taxonomy_id }}</label><br>
        <label class="detail-info-label">Parent ID : </label><label class="detail-info-label">{{ product_details.parent_id.product_description }}</label><br>
        <label class="detail-info-label">Description : </label><label class="detail-info-label">{{ product_details.product_description }}</label>
    </section>
</body>
</html>