{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
         <title>{{ page_title }}</title>
    </head>



    <body>
        <div class="table-section">
            <div class="table-heading">{{ page_title }}</div>
            <table id="gen_tbl">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>

     <script>
        let taxonomy_json = JSON.parse('{{ dict_of_taxonomies | escapejs }}')
        var tbdy = document.getElementById('gen_tbl').getElementsByTagName('tbody')[0]

        const len = Object.keys(taxonomy_json).length
        const all_ids = Object.keys(taxonomy_json)
        for (var i  = 0; i < len; i++) {
            var pid = all_ids[i]
            var new_row = tbdy.insertRow(-1)
            new_row.innerHTML = "<td>" + pid + "</td><td>" + taxonomy_json[pid] + "</td>"
        }
    </script>

</html>