{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>{{ page_title }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            $(document).ready(function (){
                const expense_data = JSON.parse("{{expenses_json|escapejs}}");
                const tbdy = document.getElementById('gen_tbl').getElementsByTagName('tbody')[0];
                for (const key in expense_data) {
                    let val = expense_data[key];
                    const new_row = tbdy.insertRow(-1);
                    new_row.innerHTML = "<td>" + val[1] + "</td><td>" + val[2] + "</td><td>" + val[3] + "</td>";
                }
            })
        </script>

    </head>

    <body>
        <div class="table-section">
            <div class="table-heading">{{ page_title }}</div>
            <table id="gen_tbl">
                <thead>
                    <tr>
                        <th>Date of Purchase</th>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>

</html>